.page-content {
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width: 1074px) {
  .page-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 600px) {
  .next-link-btn {
    font-size: 1rem !important;
    padding: 0.75rem 1.25rem !important;
  }
}
